<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.performance.mapper.ActorExtMapper">

    <select id="customMethod" resultMap="com.example.performance.mapper.ActorMapper.ActorResult">
        <include refid="com.example.performance.mapper.ActorMapper.selectActorVo"/>
    </select>


</mapper>
